[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

#.vs, Rider
.vs/
.idea/

# Generated solution/project files
*.csproj
*.sln
*.user
*.unityproj
*.tmp
*.pidb
*.suo
*.userprefs
*.pdb

# Build artifacts
*.apk
*.aab
*.zip
vr_BackUpThisFolder_ButDontShipItWithYourGame/

# Secrets and Credentials
[Aa]ssets/StreamingAssets/secrets.json
[Aa]ssets/StreamingAssets/secrets.json.meta
secrets.json
